[submodule "_modules/ocrd_manager"]
	path = _modules/ocrd_manager
	url = https://github.com/markusweigelt/ocrd_manager.git
[submodule "_modules/kitodo-production-docker"]
	path = _modules/kitodo-production-docker
	url = https://github.com/SvenMarcus/kitodo-production-docker
	branch = main
[submodule "_modules/ocrd_controller"]
	path = _modules/ocrd_controller
	url = https://github.com/bertsky/ocrd_controller.git
