[submodule "_modules/ocrd_manager"]
	path = _modules/ocrd_manager
	url = git@github.com:markusweigelt/ocrd_manager.git
[submodule "_modules/kitodo-production-docker"]
	path = _modules/kitodo-production-docker
	url = https://github.com/markusweigelt/kitodo-production-docker
